version: '3.8'

services:
  wiremock:
    image: wiremock/wiremock:latest
    container_name: user-api-mock
    ports:
      - "8081:8080"
    volumes:
      - ./wiremock/mappings:/home/wiremock/mappings
      - ./wiremock/__files:/home/wiremock/__files
    command:
      - --global-response-templating
      - --verbose
